@import url('fontawesome.min.css');

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-shadow: -2px 1px 0px rgba(0, 16, 168, 1);
}

h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 70px;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
}

p {
  font-size: 20px;
}

a {
  color: skyblue;
}

a:hover { color: pink; }

img {
  margin-bottom: 50px;
}

section {
  position: relative;
  text-align: center;
  padding: 8%;
}

header {
  position: absolute;
  top: 5%;
  left: 5%;
}

footer {
  background-color: black;
  padding: 2%;
  text-align: center;
  color: white;
  font-size: 12px;
}

.slide-odd {
  background-color: gray;
  height: 700px;
}

.slide-even {
  z-index: 2;
  background-image: url('http://macmanx.files.wordpress.com/2010/09/ocean-water-near-kauai.jpg');
  background-color: white;
  text-align: center;
}

.text {
  max-width: 1280px;
  margin: 0 auto;
}

#slide-1 h2 {
  margin-top: 200px;
}

#slide-1, #slide-9 {
  background-image: url('../images/tile2.jpg');
}

#slide-3 {
  background-image: url('../images/photo4.jpg');
}

#slide-5 {
  background-image: url('../images/photo8.jpg');
}

#slide-7 {
  background-image: url('../images/photo2.jpg');
}


